:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header {
  position: relative;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 1440px;
  height: 72px;
}
.studio-manu {
  position: relative;
  display: flex;
  gap: 40px;
  bottom: 24px;
  top: 5px;
  left: 345px;
}
.header-studio-list-line {
  position: relative;
  display: flex;
  width: 48px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-studio-list {
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}
.header-studio-list-line::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px;
  width: 48px;
  height: 4px;
}
.header-studio-list-1:hover {
  color: #404bbf;
}
.header-studio-list-1:focus {
  color: #404bbf;
}
.header-studio-list:hover {
  color: #404bbf;
}
.header-studio-list:focus {
  color: #404bbf;
}
header address ul li a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-logo {
  position: relative;
  display: flex;
  left: 156px;
  top: 24px;
  width: 115px;
  height: 24px;
}
.address-list {
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-tel {
  position: relative;
  display: flex;
  left: 940px;
  bottom: 40px;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-tel:hover {
  color: #404bbf;
}
.address-list-tel:focus {
  color: #404bbf;
}

.section-big-tittle {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
}

.big-tittle {
  max-width: 496px;
  position: relative;
  display: flex;
  height: 120px;
  font-size: 56px;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;

  left: 472px;
}
button {
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tittle-button {
  position: relative;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  width: 169px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tittle-button:hover {
  background-color: #404bbf;
}
.tittle-button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  display: none;
}
.section-peculiarities {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  display: flex;
  padding: 120px 0;
  width: 1128px;
  height: 224px;
  left: 156px;
  top: 120px;
}

.section-peculiarities-ul {
  position: relative;
  display: flex;
  gap: 24px;
  width: 264px;
  height: 224px;

  bottom: 120px;
}
.icons-svgs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.tittle-strategy {
  position: relative;
  display: flex;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-strategy {
  position: relative;
  display: flex;
  gap: 8px;
  width: 264px;
  height: 104px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-section {
  padding: 120px 0;
  width: 1440px;
  height: 780px;
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  top: 240px;
  background: #f4f4fd;
}

.tittle-our-team {
  margin-bottom: 72px;
  position: relative;
  display: flex;
  left: 639px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-our-team-ul {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 24px;
  left: 156px;
  gap: 24px;
}
.our-team-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: 264px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  height: 380px;
  background: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-section ul li div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 16px;
  width: 232px;
  height: 104px;
  padding: 32px 0;
}
.social-media {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  width: 232px;
  height: 40px;
  justify-content: center;
}
.media {
  width: 40px;
  height: 40px;
}
.media-name {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-name:hover {
  background-color: #404bbf;
}
.media-name:focus {
  background-color: #404bbf;
}
.icon-fill {
  fill: #f4f4fd;
}
.name-our-team {
  position: relative;
  display: flex;
  left: 52.5px;
  text-align: center;
  margin-bottom: 8px;
  width: 232px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-our-team {
  position: relative;
  display: flex;
  text-align: center;
  top: 0px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  bottom: 32px;
}

.section-our-portfolio {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  display: flex;
  top: 144px;
  bottom: 432px;
  padding: 120px 0;
  left: 156px;
}

.our-portfolio-div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.tittle-our-portfolio {
  position: relative;
  margin-bottom: 72px;
  display: flex;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-listt {
  position: relative;
  width: 360px;
  height: 420px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-listt:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.small-tittle {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-our-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transform: translateY(0%);
}
.our-portfolio-listt:hover .img-paragraph {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-backgroung {
  position: relative;
  overflow: hidden;
}

.img-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-finish {
  position: relative;
  overflow: hidden;
  max-width: 1440px;
  padding: 100px 0;
  top: 120px;
  width: 1440px;
  height: 312px;
  background-color: #2e2f42;
}
.container-footer {
  display: flex;
  align-items: baseline;
}
.web-div {
  margin-right: 120px;
}

.social-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-icons {
  position: relative;
  left: 120px;
  width: 208px;
  height: 80px;
}
.media-ul {
  display: flex;
  gap: 16px;
}
.footer-list {
  width: 40px;
  height: 40px;
}
.footer-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media:hover {
  background-color: #31d0aa;
}
.footer-media:focus {
  background-color: #31d0aa;
}
.logo-web {
  position: relative;

  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  left: 156px;
}
.studio-web {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  color: #f4f4fd;
}
.paragraph-web-studio {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  position: relative;
  width: 264px;
  height: 112px;
  left: 156px;
}
.form-group {
  position: relative;
  width: 453px;
  height: 80px;
  left: 156px;
}
.subscribe {
  position: relative;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  position: relative;
  gap: 24px;
}
.subscribe-input {
  position: relative;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  color: #ffffff;
}
.button-subscribe {
  position: relative;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  left: 24px;
}
.icon-send {
  margin-left: 16px;
}
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  min-height: 584px;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #404bbf;
  border: none;
}
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}
.icon-vectorx {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .icon-vectorx {
  fill: #ffffff;
}
.modal-button:focus .icon-vectorx {
  fill: #ffffff;
}
.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  position: relative;
}
.user-names {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-names:focus {
  border-color: #4d5ae5;
}
.icon-name {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-name:hover {
  fill: #4d5ae5;
}
.user-names:focus + .icon-name {
  fill: #4d5ae5;
}
.comment {
  margin-bottom: 16px;
}
.user-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.user-comment:focus {
  border-color: #4d5ae5;
}
.form-check {
  margin-bottom: 24px;
}
.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.user-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.user-privacy:checked + label .user-privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.user-privacy-link {
  color: #4d5ae5;
}
.send-button {
  position: relative;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 119px;
}

.icon-manu {
  display: none;
}
.modal-window {
  display: none;
}
